In [117]:
import pandas as pd
import numpy as np

In [263]:
submissions_df = pd.read_csv("/Users/frankkelly/Downloads/collated - Tabellenblatt1 (1).csv")
submissions_df.head()

,ID,Rating,Category,Level,"Coolness, attractiveness",pycon,long slot,ID.1,Grade,Category.1,...,Talk/Workshop,ID.2,Type,"Rating: [a, b, c, d]",cat,level,"Coolness [+, ++, +++]","Attractiveness: [+, ++, +++]","Suggest to Pycon: [yes, no]","Long slot: [yes, no]"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0B9B,D,-,beginner,+,yes,no,0B9B,D,general,...,Talk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0B9D,C,general,beginner,++,no,no,0B9D,B,general,...,Talk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0B9F,C,visualisation,intermediate,+,no,no,0B9F,B,Visualisation/Deployment,...,Talk,0B9F,talk.,c,visualisation,intermediate,+++,+++,yes,no
4,0BA2,A,general,advanced,+++,no,no,0BA2,A,process/pipelines,...,Workshop,0BA2,workshop.,b,deep learning,beginner,+,+,no,no

In [264]:
submissions_df = submissions_df.loc[1:,:]

In [265]:
submissions_df.head()

,ID,Rating,Category,Level,"Coolness, attractiveness",pycon,long slot,ID.1,Grade,Category.1,...,Talk/Workshop,ID.2,Type,"Rating: [a, b, c, d]",cat,level,"Coolness [+, ++, +++]","Attractiveness: [+, ++, +++]","Suggest to Pycon: [yes, no]","Long slot: [yes, no]"
1,0B9B,D,-,beginner,+,yes,no,0B9B,D,general,...,Talk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0B9D,C,general,beginner,++,no,no,0B9D,B,general,...,Talk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0B9F,C,visualisation,intermediate,+,no,no,0B9F,B,Visualisation/Deployment,...,Talk,0B9F,talk.,c,visualisation,intermediate,+++,+++,yes,no
4,0BA2,A,general,advanced,+++,no,no,0BA2,A,process/pipelines,...,Workshop,0BA2,workshop.,b,deep learning,beginner,+,+,no,no
5,0BA5,C,general,beginner,+++,yes,no,0BA5,B,visualisation,...,Talk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
submissions_df.columns

Index(['ID', 'Rating', 'Category', 'Level', 'Coolness, attractiveness',
       'pycon', 'long slot', 'ID.1', 'Grade', 'Category.1', 'Level.1',
       'Data Track Y/N', 'Coolness', 'Suggest to Pycon', 'Long Slot',
       'Talk/Workshop', 'ID.2', 'Type', 'Rating: [a, b, c, d]', 'cat', 'level',
       'Coolness [+, ++, +++]', 'Attractiveness: [+, ++, +++]',
       'Suggest to Pycon: [yes, no]', 'Long slot: [yes, no]'],
      dtype='object')

In [267]:
grade_df = submissions_df[["ID", "Rating", "Grade", "Rating: [a, b, c, d]"]]
grade_df.head()

     ID Rating Grade Rating: [a, b, c, d]
1  0B9B      D     D                  NaN
2  0B9D      C     B                  NaN
3  0B9F      C     B                    c
4  0BA2      A     A                    b
5  0BA5      C     B                  NaN

In [123]:
pure_cool_df = submissions_df[["Coolness, attractiveness", "Coolness", "Coolness [+, ++, +++]"]]
pure_cool_df.head()

,"Coolness, attractiveness",Coolness,"Coolness [+, ++, +++]"
1,+,+,NaN
2,++,++,NaN
3,+,++,+++
4,+++,+++,+
5,+++,+++ (but PyCon might want her),NaN

In [124]:
pure_cool_df

,"Coolness, attractiveness",Coolness,"Coolness [+, ++, +++]"
1,+,+,NaN
2,++,++,NaN
3,+,++,+++
4,+++,+++,+
5,+++,+++ (but PyCon might want her),NaN
6,+,+,NaN
7,++,+,++
8,+,+++,+++
9,++,++,NaN
10,+++,++,++
11,++,NaN,NaN
12,+++,+++,++
13,++,+++,NaN
14,+,+,++
15,+,+++,NaN
16,+,NaN,NaN
17,+,++,+
18,+++,++,NaN
19,+++,+++,NaN
20,+,+,NaN
21,+,++,+++
22,+++,+++,+++
23,+,+,NaN
24,+,+++,NaN
25,++,++,NaN
26,++,++,NaN
27,+++,++,NaN
28,++,NaN,NaN
29,++,NaN,++
30,+,+++,+
...,...,...,...
58,++,++,NaN
59,++,++,+
60,+++,++,+++
61,+,NaN,NaN
62,++,++,NaN
63,++,++,NaN
64,+,NaN,NaN
65,+,+++,+++
66,+,+++,++
67,++,+,NaN
68,++,++,++
69,+,NaN,NaN
70,+++,+,+++
71,+,++,NaN
72,++,+++,+++
73,+,+,+
74,+,NaN,NaN
75,+++,+++,+++
76,+,++,NaN
77,+,++,NaN
78,+++,+++,NaN
79,+,+,+
80,++,NaN,++
81,++,NaN,NaN
82,++,+++,NaN
83,+,NaN,++
84,++,+,+
85,+,NaN,NaN
86,++,NaN,NaN
87,++,NaN,NaN

In [125]:
cool_dict = {}
cool_dict["+"] = 1
cool_dict["++"] = 2
cool_dict["+++"] = 3
cool_dict

{'+': 1, '++': 2, '+++': 3}

In [126]:
# def cool_series_convert(series_in):
#      return [cool_dict[x] if x in cool_dict.keys() else np.nan for x in series_in.values]

In [127]:
def get_plus(series_in):
    return [len(''.join([x for x in val if x == '+'])) if val is not np.nan else np.nan for val in series_in.values ]

In [128]:
pure_cool_df.iloc[1]

Coolness, attractiveness     ++
Coolness                     ++
Coolness [+, ++, +++]       NaN
Name: 2, dtype: object

In [129]:
get_plus(pure_cool_df.iloc[1])

[2, 2, nan]

In [130]:
cool_df = pure_cool_df.apply(lambda x: get_plus(x), axis=1)
cool_df.head()

   Coolness, attractiveness  Coolness  Coolness [+, ++, +++]
1                       1.0       1.0                    NaN
2                       2.0       2.0                    NaN
3                       1.0       2.0                    3.0
4                       3.0       3.0                    1.0
5                       3.0       3.0                    NaN

In [131]:
pure_grade_df = grade_df[["Rating", "Grade", "Rating: [a, b, c, d]"]].apply(lambda x: x.str.lower(), axis=1)
pure_grade_df.head()

  Rating Grade Rating: [a, b, c, d]
1      d     d                  NaN
2      c     b                  NaN
3      c     b                    c
4      a     a                    b
5      c     b                  NaN

In [132]:
scoring_dict = {}
scoring_dict["a"] = 4
scoring_dict["b"] = 3
scoring_dict["c"] = 2
scoring_dict["d"] = 1
scoring_dict

{'a': 4, 'b': 3, 'c': 2, 'd': 1}

In [133]:
# def series_convert(series_in):
#     list_out = []
#     for x in series_in:
#         if x is not np.nan:
#             list_out.append(scoring_dict[y])
#         else:
#             list_out.append(0)
        
#     return list_out

def series_convert(series_in):
     return [scoring_dict[x] if x in scoring_dict.keys() else np.nan for x in series_in.values]

In [225]:
pure_grade_df.values

array([['d', 'd', nan],
       ['c', 'b', nan],
       ['c', 'b', 'c'],
       ['a', 'a', 'b'],
       ['c', 'b', nan],
       ['d', nan, nan],
       ['b', 'c', nan],
       ['b', 'a', 'd'],
       ['b', 'b', nan],
       ['a', 'b', 'c'],
       ['b', nan, nan],
       ['a', 'a', 'c'],
       ['b', 'a', nan],
       ['c', 'b', 'd'],
       ['b', 'a', nan],
       ['d', nan, nan],
       ['c', 'b', 'c'],
       ['c', 'b', nan],
       ['c', 'a', nan],
       ['d', 'c', nan],
       ['b', 'b', 'd'],
       ['a', 'a', 'c'],
       ['b', 'b', nan],
       ['c', 'a', nan],
       ['b', 'a', nan],
       ['b', 'c', nan],
       ['a', 'a', nan],
       ['b', nan, nan],
       ['b', 'coi!!', 'c'],
       ['b', 'b', 'b'],
       ['b', 'c', nan],
       ['c', nan, nan],
       ['b', 'a', nan],
       ['b', 'b', 'b'],
       ['a', 'a', 'c'],
       ['a', 'a', 'c'],
       ['c', 'a', 'b'],
       ['b', 'd', nan],
       ['b', 'a', 'b'],
       ['c', 'a', 'b'],
       ['a', 'a', 'c'],
       ['c', nan, nan],
       ['b', 'b', 'c'],
       ['b', 'a', nan],
       ['b', 'b', nan],
       ['b', 'b', 'd'],
       ['c', nan, nan],
       ['c', nan, nan],
       ['c', nan, nan],
       ['c', 'b', 'a'],
       ['b', 'a', 'b'],
       ['a', 'c', 'b'],
       ['b', 'a', nan],
       ['b', nan, nan],
       ['b', 'b', nan],
       ['a', 'b', 'c'],
       ['c', 'b', 'd'],
       ['b', 'b', nan],
       ['a', 'b', 'b'],
       ['a', 'c', 'd'],
       ['c', nan, nan],
       ['b', 'b', nan],
       ['b', 'a', nan],
       ['b', nan, nan],
       ['c', 'a', 'c'],
       ['c', 'b', 'c'],
       ['b', 'c', nan],
       ['a', 'b', nan],
       ['d', nan, nan],
       ['b', 'd', 'c'],
       ['b', 'b', nan],
       ['b', 'a', 'c'],
       ['c', 'b', 'a'],
       ['c', nan, nan],
       ['a', 'a', 'd'],
       ['b', 'a', nan],
       ['c', 'b', nan],
       ['b', 'b', nan],
       ['a', 'b', 'b'],
       ['c', 'coi!!', 'c'],
       ['d', nan, nan],
       ['c', 'b', nan],
       ['c', 'coi!!', 'c'],
       ['b', 'd', 'a'],
       ['d', nan, nan],
       ['a', nan, nan],
       ['b', nan, nan]], dtype=object)

In [135]:
pure_grade_numerical_df = pure_grade_df.apply(lambda x: series_convert(x), axis=1)

In [223]:
pure_grade_numerical_df

    Rating  Grade  Rating: [a, b, c, d]
1      1.0    1.0                   NaN
2      2.0    3.0                   NaN
3      2.0    3.0                   2.0
4      4.0    4.0                   3.0
5      2.0    3.0                   NaN
6      1.0    NaN                   NaN
7      3.0    2.0                   NaN
8      3.0    4.0                   1.0
9      3.0    3.0                   NaN
10     4.0    3.0                   2.0
11     3.0    NaN                   NaN
12     4.0    4.0                   2.0
13     3.0    4.0                   NaN
14     2.0    3.0                   1.0
15     3.0    4.0                   NaN
16     1.0    NaN                   NaN
17     2.0    3.0                   2.0
18     2.0    3.0                   NaN
19     2.0    4.0                   NaN
20     1.0    2.0                   NaN
21     3.0    3.0                   1.0
22     4.0    4.0                   2.0
23     3.0    3.0                   NaN
24     2.0    4.0                   NaN
25     3.0    4.0                   NaN
26     3.0    2.0                   NaN
27     4.0    4.0                   NaN
28     3.0    NaN                   NaN
29     3.0    NaN                   2.0
30     3.0    3.0                   3.0
..     ...    ...                   ...
58     3.0    3.0                   NaN
59     4.0    3.0                   3.0
60     4.0    2.0                   1.0
61     2.0    NaN                   NaN
62     3.0    3.0                   NaN
63     3.0    4.0                   NaN
64     3.0    NaN                   NaN
65     2.0    4.0                   2.0
66     2.0    3.0                   2.0
67     3.0    2.0                   NaN
68     4.0    3.0                   NaN
69     1.0    NaN                   NaN
70     3.0    1.0                   2.0
71     3.0    3.0                   NaN
72     3.0    4.0                   2.0
73     2.0    3.0                   4.0
74     2.0    NaN                   NaN
75     4.0    4.0                   1.0
76     3.0    4.0                   NaN
77     2.0    3.0                   NaN
78     3.0    3.0                   NaN
79     4.0    3.0                   3.0
80     2.0    NaN                   2.0
81     1.0    NaN                   NaN
82     2.0    3.0                   NaN
83     2.0    NaN                   2.0
84     3.0    1.0                   4.0
85     1.0    NaN                   NaN
86     4.0    NaN                   NaN
87     3.0    NaN                   NaN

[87 rows x 3 columns]

In [136]:
grade_column = pure_grade_numerical_df.mean(axis=1)
print(grade_column[:5])
coolness_column = cool_df.mean(axis=1)

1    1.000000
2    2.500000
3    2.333333
4    3.666667
5    2.500000
dtype: float64

In [137]:
score_column = (grade_column + coolness_column)/2
score_column

1     1.000000
2     2.250000
3     2.166667
4     3.000000
5     2.750000
6     1.000000
7     2.083333
8     2.500000
9     2.500000
10    2.666667
11    2.500000
12    3.000000
13    3.000000
14    1.666667
15    2.750000
16    1.000000
17    1.833333
18    2.500000
19    3.000000
20    1.250000
21    2.166667
22    3.166667
23    2.000000
24    2.500000
25    2.750000
26    2.250000
27    3.250000
28    2.500000
29    2.250000
30    2.333333
        ...
58    2.500000
59    2.500000
60    2.500000
61    1.500000
62    2.500000
63    2.750000
64    2.000000
65    2.500000
66    2.166667
67    2.000000
68    2.750000
69    1.000000
70    2.166667
71    2.250000
72    2.833333
73    2.000000
74    1.500000
75    3.000000
76    2.500000
77    2.000000
78    3.000000
79    2.166667
80    2.000000
81    1.500000
82    2.500000
83    1.750000
84    2.000000
85    1.000000
86    3.000000
87    2.500000
Length: 87, dtype: float64

In [138]:
submissions_df.columns

Index(['ID', 'Rating', 'Category', 'Level', 'Coolness, attractiveness',
       'pycon', 'long slot', 'ID.1', 'Grade', 'Category.1', 'Level.1',
       'Data Track Y/N', 'Coolness', 'Suggest to Pycon', 'Long Slot',
       'Talk/Workshop', 'ID.2', 'Type', 'Rating: [a, b, c, d]', 'cat', 'level',
       'Coolness [+, ++, +++]', 'Attractiveness: [+, ++, +++]',
       'Suggest to Pycon: [yes, no]', 'Long slot: [yes, no]'],
      dtype='object')

In [180]:
def remove_nan(list_in):
    list_listin = list(list_in)
    for item in list_listin:
        if item is np.nan:
            list_listin.remove(item)
            
    return list_listin

In [181]:
remove_nan(['no', np.nan,  np.nan])

['no', nan]

In [254]:
mode = lambda x: str(x.dropna().str.lower().mode().values )if len(x) ==3 else str(x.values)

In [256]:
category_column = submissions_df[['Category', 'Category.1', 'cat']].apply(mode, axis=1)

level_column = submissions_df[['Level', 'Level.1', 'level']].apply(mode, axis=1)

pycon_column = submissions_df[['pycon', 'Suggest to Pycon', 'Suggest to Pycon: [yes, no]']]\
.apply(mode, axis=1)

long_slot_column = submissions_df[['long slot', 'Long Slot', 'Long slot: [yes, no]']]\
.apply(mode, axis=1)
print(category_column[:5])
print(long_slot_column[:5])
print(pycon_column[:5])
print(level_column[:5])

1                                    ['-' 'general']
2                                        ['general']
3                                  ['visualisation']
4    ['deep learning' 'general' 'process/pipelines']
5                        ['general' 'visualisation']
dtype: object
1    ['no']
2    ['no']
3    ['no']
4    ['no']
5    ['no']
dtype: object
1         ['yes']
2          ['no']
3    ['no' 'yes']
4          ['no']
5         ['yes']
dtype: object
1                            ['beginner']
2                      ['all' 'beginner']
3                        ['intermediate']
4                            ['beginner']
5    ['beginner' 'beginner/intermediate']
dtype: object

In [257]:
pd.Series([np.nan, 'Beginner', np.nan]).dropna().str.lower().mode()

0    beginner
dtype: object

In [258]:
final_df = pd.concat([submissions_df[["ID"]], category_column, \
                      level_column, score_column, grade_column, \
                      coolness_column, pycon_column, long_slot_column, \
                     pure_grade_df], axis=1)

In [259]:
final_df.columns=["ID", "category", "level", "combined_score", "grade", "coolness", "pycon", "long-slot", "reviewer_1", "reviewer_2", "reviewer_3"]
final_df.head()

,ID,category,level,combined_score,grade,coolness,pycon,long-slot,reviewer_1,reviewer_2,reviewer_3
1,0B9B,['-' 'general'],['beginner'],1.000000,1.000000,1.000000,['yes'],['no'],d,d,NaN
2,0B9D,['general'],['all' 'beginner'],2.250000,2.500000,2.000000,['no'],['no'],c,b,NaN
3,0B9F,['visualisation'],['intermediate'],2.166667,2.333333,2.000000,['no' 'yes'],['no'],c,b,c
4,0BA2,['deep learning' 'general' 'process/pipelines'],['beginner'],3.000000,3.666667,2.333333,['no'],['no'],a,a,b
5,0BA5,['general' 'visualisation'],['beginner' 'beginner/intermediate'],2.750000,2.500000,3.000000,['yes'],['no'],c,b,NaN

In [260]:
top50_df = final_df.sort_values(by="combined_score", ascending=False).head(50)
top50_df

,ID,category,level,combined_score,grade,coolness,pycon,long-slot,reviewer_1,reviewer_2,reviewer_3
27,3048,['process/pipelines' 'visual'],['intermediate'],3.250000,4.000000,2.500000,['no'],['yes'],a,a,NaN
35,54C9,['deep learning'],['all' 'intermediate'],3.166667,3.333333,3.000000,['no' 'yes'],['no' 'y' 'yes'],a,a,c
22,303D,['deep learning'],['intermediate'],3.166667,3.333333,3.000000,['no' 'yes'],['no'],a,a,c
19,3038,['bioinformatics' 'general'],['beginner/intermediate' 'intermediate'],3.000000,3.000000,3.000000,['no'],['no'],c,a,NaN
86,E723,['general'],['beginner'],3.000000,4.000000,2.000000,['no' 'y'],['no'],a,NaN,NaN
4,0BA2,['deep learning' 'general' 'process/pipelines'],['beginner'],3.000000,3.666667,2.333333,['no'],['no'],a,a,b
78,E70C,['general' 'process/pipelines'],['beginner' 'intermediate'],3.000000,3.000000,3.000000,['no'],['no'],b,b,NaN
75,E707,['deep learning'],['intermediate'],3.000000,3.000000,3.000000,['no' 'yes'],['no' 'yes'],a,a,d
12,0BB4,['deep learning'],['beginner' 'beginner/intermediate' 'intermedi...,3.000000,3.333333,2.666667,['no' 'yes'],['yes'],a,a,c
13,0BB6,['ai' 'general'],['beginner' 'intermediate/advanced'],3.000000,3.500000,2.500000,['yes'],['no'],b,a,NaN
39,54DB,['ai' 'general' 'process'],['intermediate'],2.833333,3.333333,2.333333,['no'],['no'],b,a,b
72,C28E,['deep learning' 'general' 'machine learning'],['intermediate'],2.833333,3.000000,2.666667,['no' 'yes'],['no' 'yes'],b,a,c
25,3045,['nlp'],['advanced' 'intermediate'],2.750000,3.500000,2.000000,['no'],['no'],b,a,NaN
53,9DE8,['process/pipelines'],['advanced' 'beginner'],2.750000,3.500000,2.000000,['no'],['no'],b,a,NaN
44,7959,['nlp'],['intermediate'],2.750000,3.500000,2.000000,['no'],['no'],b,a,NaN
63,C279,['general' 'process/pipelines'],['advanced' 'intermediate'],2.750000,3.500000,2.000000,['no'],['no'],b,a,NaN
68,C27F,['deep learning'],['intermediate'],2.750000,3.500000,2.000000,['no' 'yes'],['no' 'yes'],a,b,NaN
5,0BA5,['general' 'visualisation'],['beginner' 'beginner/intermediate'],2.750000,2.500000,3.000000,['yes'],['no'],c,b,NaN
15,302F,['process/pipelines'],['intermediate'],2.750000,3.500000,2.000000,['yes'],['no'],b,a,NaN
41,7951,['deep learning'],['beginner' 'beginner/intermediate' 'intermedi...,2.666667,3.333333,2.000000,['no' 'yes'],['no' 'yes'],a,a,c
51,9DE3,['deep learning' 'general' 'survival analysis'],['intermediate'],2.666667,3.333333,2.000000,['no'],['no'],b,a,b
10,0BAF,['deep learning'],['advanced' 'beginner' 'intermediate'],2.666667,3.000000,2.333333,['no' 'yes'],['no'],a,b,c
58,9DF4,['process/pipelines'],['beginner' 'intermediate'],2.500000,3.000000,2.000000,['no'],['no'],b,b,NaN
33,54C4,['process/pipelines'],['advanced'],2.500000,3.500000,1.500000,['no'],['no'],b,a,NaN
76,E70A,['process/pipelines'],['intermediate'],2.500000,3.500000,1.500000,['yes'],['no'],b,a,NaN
52,9DE6,['general'],['intermediate'],2.500000,3.000000,2.000000,['no'],['no'],a,c,b
82,E717,['deep learning'],['beginner' 'intermediate/advanced'],2.500000,2.500000,2.500000,['no'],['no'],c,b,NaN
59,9DF7,['nlp'],['beginner'],2.500000,3.333333,1.666667,['no'],['no'],a,b,b
60,9DF9,['deep learning'],['advanced' 'expert' 'intermediate'],2.500000,2.333333,2.666667,['no' 'yes'],['no' 'yes'],a,c,d
62,9E00,['process/pipelines' 'visual'],['beginner' 'intermediate'],2.500000,3.000000,2.000000,['no'],['no'],b,b,NaN
36,54CE,['general' 'machine learning' 'process/pipelin...,['intermediate'],2.500000,3.333333,1.666667,['no'],['no'],a,a,c
65,C27B,['general' 'process/pipelines' 'visualisation'],['intermediate'],2.500000,2.666667,2.333333,['no' 'yes'],['no'],c,a,c
87,E725,['general'],['beginner'],2.500000,3.000000,2.000000,['y' 'yes'],['no'],b,NaN,NaN
9,0BAB,['process/pipelines'],['beginner' 'intermediate'],2.500000,3.000000,2.000000,['no'],['no'],b,b,NaN
8,0BAA,['nlp'],['intermediate'],2.500000,2.666667,2.333333,['no' 'yes'],['no' 'yes'],b,a,d
31,54C2,['general' 'nlp'],['beginner'],2.500000,2.500000,2.500000,['no' 'y - they want her anyway'],['no'],b,c,NaN
11,0BB0,['general'],['beginner'],2.500000,3.000000,2.000000,['no'],['no'],b,NaN,NaN
24,3041,['-' 'general'],['all' 'intermediate'],2.500000,3.000000,2.000000,['yes'],['no'],c,a,NaN
28,54BE,['general'],['beginner'],2.500000,3.000000,2.000000,['y' 'yes'],['no'],b,NaN,NaN
18,3035,['process/pipelines'],['beginner?' 'intermediate'],2.500000,2.500000,2.500000,['no'],['no'],c,b,NaN
56,9DF2,['nlp'],['beginner' 'beginner/intermediate' 'intermedi...,2.333333,3.000000,1.666667,['no' 'yes'],['no'],a,b,c
40,7950,['general'],['beginner'],2.333333,3.000000,1.666667,['no'],['no' 'yes'],c,a,b
30,54C1,['process/pipelines'],['intermediate'],2.333333,3.000000,1.666667,['no'],['no'],b,b,b
71,C287,['general'],['beginner'],2.250000,3.000000,1.500000,['yes'],['no'],b,b,NaN
29,54C0,['process' 'process/pipelines'],['expert' 'intermediate'],2.250000,2.500000,2.000000,['no' 'yes'],['no'],b,coi!!,c
26,3046,['process/pipelines'],['intermediate'],2.250000,2.500000,2.000000,['no'],['no'],b,c,NaN
2,0B9D,['general'],['all' 'beginner'],2.250000,2.500000,2.000000,['no'],['no'],c,b,NaN
70,C285,['general' 'machine learning' 'process/pipelin...,['intermediate'],2.166667,2.000000,2.333333,['no' 'yes'],['yes'],b,d,c
66,C27D,['deep learning'],['beginner' 'beginner/intermediate' 'intermedi...,2.166667,2.333333,2.000000,['no' 'yes'],['no'],c,b,c
46,7961,['nlp'],['advanced'],2.166667,2.333333,2.000000,['no' 'yes'],['no'],b,b,d

In [261]:
top50_df.to_csv("../data/top50entries.csv")

In [107]:
top21_df.level.value_counts()

['intermediate' 'Intermediate' nan]                        3
['intermediate' 'Intermediate' 'intermediate']             2
['intermediate' 'Beginner/Intermediate' 'intermediate']    2
['intermediate' 'Advanced' nan]                            2
['intermediate' 'Beginner/Intermediate' nan]               1
['intermediate' 'Beginner' 'intermediate']                 1
['beginner' 'Beginner/Intermediate' nan]                   1
['intermediate' 'Beginner/Intermediate' 'beginner']        1
['beginner' 'Intermediate' nan]                            1
['intermediate' 'Intermediate/Advanced' 'intermediate']    1
['beginner' 'Advanced' nan]                                1
['beginner' 'Beginner/Intermediate' 'intermediate']        1
['beginner' nan nan]                                       1
['advanced' 'Beginner' 'beginner']                         1
['beginner' 'Intermediate/Advanced' nan]                   1
['intermediate' 'All' nan]                                 1
Name: level, dtype: int64